/* globals.css */

:root {
    /* Primary color scheme */
    --primary-color: #f8f5f5;
    --secondary-color: black;
    --tertiary-color: #008ac9;
    --accent-color: #bc4c48;
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

/* Apply styles for links on hover */
a:hover {
    color: var(--accent-color);
    text-shadow: none!important;
}

/* Apply styles for active links (current page) */
a:active {
    color: var(--secondary-color);
}

[data-for] {
    font-weight: bold;
}

button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Apply the color scheme to specific elements or components */
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Example of a button with the accent color */
.button {
    background-color: var(--accent-color);
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

/* app/Navbar.module.css */
nav {
    border-bottom: 1px solid #ccc;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

